name: Deploy to Production

on:
  push:
    branches: [ "dev" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Deploy via SSH
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          # Beri izin eksekusi dulu (jaga-jaga)
          chmod +x /var/www/simed-app/deploy.sh

          # Jalankan scriptnya
          bash /var/www/simed-app/deploy.sh